{:paths ["src"]
 :deps  {clj-http/clj-http {:mvn/version "3.12.3"}}
 :aliases {:reveal {:extra-deps {vlaaad/reveal {:mvn/version "1.3.276"}}
                    :main-opts ["-m" "nrepl.cmdline"
                                "--middleware" "[vlaaad.reveal.nrepl/middleware,cider.nrepl/cider-middleware]"]
                    :jvm-opts ["-Dvlaaad.reveal.prefs={:theme,:light,:font-family,\"Fira Code\",:font-size,14}"]}}}
